@use '../styles/brand';

.root {
  display: flex;
  align-items: center;
  color: brand.$avo-medium-gray-secondary;
  padding: 2px 2px 2px 10px;

  border-radius: 8px;

  transition: background-color 300ms;
  &:focus-within {
    background-color: brand.$gray-5;
  }
}

.searchInput {
  border: 0;
  appearance: none;
  outline: none;
  width: 220px;

  padding: 5px 10px;
  margin-left: 10px;
  font-size: 16px;
  border-radius: 5px;

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: brand.$avo-medium-gray-secondary;
    opacity: 1; /* Firefox */
  }

  border-bottom: 2px solid transparent;
}
