@use '../styles/brand';

.root {
  display: flex;

  padding-bottom: 40px;
  margin-top: 30px;
}

.col {
  flex: 1;
}

.iconText {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  img {
    margin-right: 10px;
  }
}
