@use '../styles/brand';

.root {
  display: flex;

  padding-bottom: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.col {
  flex: 1;
}

.iconText {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  img {
    margin-right: 10px;
  }
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.link {
  color: black;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}
