@use '../styles/brand';

.grid {
  display: grid;
  grid-template-columns: 300px minmax(0, 1fr);
  grid-template-rows: auto 1fr;
  gap: 10px 15px;
  grid-template-areas:
    'navHeader  header'
    'nav        content';

  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
  height: 100vh;
}

.topBar {
  margin-top: 5px;
  margin-bottom: 8px;
}

.navHeader {
  padding-bottom: 8px;
  grid-area: navHeader;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.hamburgerButton {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
  width: 100%;
  margin-top: 30px;
}

.content {
  grid-area: content;
}

.nav {
  grid-area: nav;
  overflow-y: auto;
}

.footer {
  margin-top: 32px;
  grid-area: footer;
}

.mobileNav {
  display: none;
  padding-left: 40px;
}

.backToAvo {
  font-size: 13px;
  color: brand.$avo-medium-gray-secondary;
  text-decoration: none;
  margin-left: 12px;
}
.backToAvoIcon {
  margin-right: 5px;
}

@media (max-width: 840px) {
  .grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 10px 15px;
    grid-template-areas:
      'navHeader  navHeader '
      'nav        nav    '
      'content    content';
    padding: 0 30px;
    margin-bottom: 100px;
  }
  .nav {
    display: none;
  }
  .mobileNav {
    display: block;
  }
  .hamburgerButton {
    display: block;
  }
  .header {
    display: none;
  }
  .navHeader {
    padding-bottom: 0;
    .logoWrapper {
      justify-content: space-between;
    }
  }

  .backToAvo {
    display: none;
  }
}
