@use '../styles/brand';

.grid {
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  gap: 15px 15px;
  grid-template-areas:
    'topBar     topBar  topBar  topBar'
    'navHeader  header  header  header'
    'nav        content content content'
    'navFooter  footer  footer  footer';

  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

.topBar {
  grid-area: topBar;
  margin-top: 15px;
  margin-bottom: 15px;
}

.navHeader {
  padding-bottom: 20px;
  grid-area: navHeader;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.hamburgerButton {
  display: none;
}

.header {
  padding-bottom: 20px;
  grid-area: header;
}

.content {
  grid-area: content;
}

.nav {
  grid-area: nav;
}

.footer {
  grid-area: footer;
}

.mobileNav {
  display: none;
  padding-left: 40px;
}

.backToAvo {
  color: brand.$gray-15;
  text-decoration: none;
}

@media (max-width: 840px) {
  .grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 15px 15px;
    grid-template-areas:
      'topBar     topBar'
      'navHeader  navHeader '
      'nav        nav    '
      'content    content'
      'footer     footer ';
    padding: 0 30px;
    margin-bottom: 100px;
  }
  .nav {
    display: none;
  }
  .mobileNav {
    display: block;
  }
  .hamburgerButton {
    display: block;
  }
  .header {
    display: none;
  }
  .navHeader {
    padding-bottom: 0;
    .logoWrapper {
      justify-content: space-between;
    }
  }

  .backToAvo {
    display: none;
  }
}
