@use '../styles/brand';

.container {
  margin-top: 6px;
  margin-left: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.text {
  padding-left: 10px;
  color: brand.$black;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 840px) {
  .container {
    margin-left: 0px;
  }
}