@use '../styles/brand';

.root {
  font-size: 14px;
  margin-top: 15px;
}

.parentLink {
  color: brand.$black;
  font-weight: 500;
  padding: 15px 10px;
  cursor: pointer;
  border-left: 2px solid transparent;
  &:hover {
    background-color: brand.$avo-light-gray;
  }
}

.iconWrapper {
  width: 25px;
  display: inline-flex;
  vertical-align: top;
}

.subroutesContainer {
  margin-left: 11px;
  padding-left: 0px;
  border-left: 1px solid brand.$avo-light-gray;
}
.subroutesContainerRoot {
  margin-left: 20px;
}

.subroute {
  width: 100%;
  display: flex;
  align-items: center;
  color: brand.$avo-dark-gray;
  font-weight: 300;
  padding-bottom: 8px;
  padding-left: 25px;
  cursor: pointer;
  font-size: 13px;
  letter-spacing: -0.0025em;
  &:hover {
    color: brand.$avo-pink;
  }
}

.subrouteExpand {
  padding-left: 15px;
}

.subrouteExpandIcon {
  font-size: 9px;
  color: brand.$avo-medium-gray-secondary;
  margin-top: 2px;
  padding-right: 10px;
}

.subrouteGroup {
  color: brand.$avo-dark-gray;
  font-size: 12px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 35px;
}

.subSubroute {
  margin-left: 8px;
}

.activeLink {
  color: brand.$avo-pink;
}
