@use '../styles/brand';

.root {
  font-size: 14px;
  margin-left: -25px;
}

.group {
  margin-top: 20px;
}

.parentLink {
  color: brand.$black;
  font-weight: 500;
  margin-bottom: 5px;
  cursor: pointer;
}

.iconWrapper {
  width: 25px;
  display: inline-block;
}

.subroute {
  color: brand.$gray-50;
  font-weight: 300;
  margin-bottom: 5px;
  cursor: pointer;
  margin-left: 25px;
}

.subrouteGroup {
  color: brand.$gray-30;
  font-size: 12px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 25px;
}

.subSubroute {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.activeLink {
  color: brand.$avo-pink;
}
