.root {
  border: 1px solid #e9e9e9;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  margin-top: 16px;
  align-items: center;

  cursor: pointer;
  color: black;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  transition: all 0.3s;
}

.image {
  margin-right: 20px;
  flex-shrink: 0;
  img {
    width: 75px;
  }
}

:global(.dark) .root {
  border-color: #434a54;

  &:hover {
    border-color: #7a818f;
  }
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
}

:global(.dark) .title {
  color: white;
}

.description {
  font-size: 13px;
  color: rgb(128, 128, 128);
  margin-bottom: 10px;
  line-height: 1.3em;
}

:global(.dark) .description {
  color: #aab2bd;
}

.callToAction {
  color: #b4a3d9;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: grey;
}

:global(.dark) .callToAction {
  color: lightgrey;
}

.twoCol {
  display: grid;
  column-gap: 16px;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
}

@media (max-width: 1024px) {
  .twoCol {
    grid-template-columns: 1fr;
  }
}
