@use '../styles/brand';

.root {
  border: 1px solid brand.$gray-5;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  // align-items: center;

  cursor: pointer;
  color: brand.$black;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  transition: box-shadow 0.3s;
}

.image {
  margin-right: 20px;
  img {
    width: 75px;
  }
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
}

.description {
  font-size: 13px;
  color: brand.$gray-50;
  margin-bottom: 10px;
  line-height: 1.3em;
}

.callToAction {
  color: brand.$docs-accent-light;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

@media (max-width: 840px) {
  .root {
    display: block;
    min-width: 80vw;
  }
}