.root {
  font-size: 14px;
  font-weight: 500;
  display: flex;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}

.signUp {
  border-radius: 8px;
  padding: 7px 20px;
  background-color: #EC008C;
  color: white;
}

.signIn {
  padding: 7px 20px;
  color: #EC008C;
}
