@use '../styles/brand';

.root {
  font-size: 14px;
  display: flex;

  a {
    text-decoration: none;
  }
}

.signUp {
  border-radius: 8px;
  padding: 7px 20px;
  background-color: brand.$avo-pink;
  color: white;
}

.signIn {
  padding: 7px 20px;
  color: brand.$avo-pink;
}
