@use '../styles/brand';

.root {
  margin-top: 30px;
  margin-left: 15px;
}

.onThisPage {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  color: brand.$gray-50;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
}

.item {
  margin-bottom: 10px;
  font-size: 14px;
  color: brand.$gray-50;

  cursor: pointer;

  &.active {
    color: brand.$docs-accent;
  }

  &:hover {
    opacity: 0.8;
  }
}

.topLevel {
  font-weight: 600;
}
