@use '../styles/brand';

.title {
    font-size: 44px;
    font-weight: 600;
    line-height: 1.4em;
    letter-spacing: -0.022em;
}

.abstract {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.018em;
    color: brand.$gray-50;
}