@use '../styles/brand';


.root {
  flex: 1;
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  margin-left: -5px;
  margin-right: -5px;

  grid-area: content;

  & > * {
    margin: 5px;
    flex: 1;
  }
}

.sidebar {
  width: 250px;
  margin-left: 50px;
  flex-shrink: 0;
}


.inlineToc {
  display: none;
}

.tocItem {
  margin-bottom: 10px;
  font-size: 14px;
  color: brand.$gray-50;
  text-decoration: none;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.text {
  width: 100%;
  line-height: 150%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  grid-area: content;
}

.callout {
  display: flex;
  width: 100%;
  line-height: 150%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  grid-area: content;
  border-radius: 5px;
  border-left: 5px solid brand.$gray-5;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 15px 20px;
  background-color: #fbfbfb;
  color: brand.$gray-75;
  margin-top: 0;
  margin-bottom: 5px;

  span {
    margin-right: 15px;
    font-size: 20px;
  }
}

.image {
  width: 100%;
  padding: 30px 0 30px 0;
}

.tableLabels {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: brand.$gray-75;
}

.label {
  font-family: 'Inter', sans-serif;
  width: 85%;
  grid-area: content;
}

.heading1 {
  font-size: 36px;
  font-weight: 600;
}

.heading2 {
  font-size: 24px;
  font-weight: 500;
  padding-top: 40px;
}

.heading3 {
  font-weight: 500;
  font-size: 20px;
  padding-top: 20px;
}

@media (max-width: 1140px) {
  .text {
    width: 100%;
    font-size: 14px;
    line-height: 150%;
  }

  .row {
    width: 100%;
  }

  .label {
    width: 100%;
  }

  .sidebar {
    display: none;
  }
  .inlineToc {
    display: block;
  }
}

.separator {
  width: 100%;
  height: 2px;
  background-color: brand.$gray-5;
  margin: 75px 0;
}