.row {
  display: flex;
  flex-direction: row;

  margin-left: -5px;
  margin-right: -5px;

  & > * {
    margin: 5px;
    flex: 1;
  }
}

.text {
  width: 70%;
  font-size: 14px;
  line-height: 150%;
}
