$black: black;
$gray-75: rgb(63, 63, 63);
$gray-50: rgb(128, 128, 128);
$gray-30: rgb(178, 178, 178);
$gray-15: rgb(217, 217, 217);
$gray-5: rgb(242, 242, 242);

$avo-pink: #ec008c;
$docs-accent: #7e62ba;
$docs-anti-accent: #1ecdd3;
$docs-accent-light: #b4a3d9;

$hairline-border: 1px solid $gray-5;
