@use '../styles/brand';

.h1, .h2, .h3, .h4, .h5, .h6 {
    // color: grey;
}

.p {
    font-size: 18px;
    letter-spacing: -0.014em;
    line-height: 1.4em;
}

.inlineCode {
    padding: 5px;
    border-radius: 3px;
    display: inline;
    background-color: lightgray;
}