@use '../styles/brand';

.p,
.ul,
.ol,
.blockquote,
.table,
.pre {
  // margin-top: 15px;
  margin-bottom: 15px;
}

.pre {
  overflow-x: auto;
}

.highlight {
  overflow: hidden;
  display: flex;
  margin-bottom: 15px;
}

.highlightLineNumbers {
  // box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}

.highlightCode {
  overflow-x: auto;
  padding-left: 5px;
  padding-right: 10px;
}

.codeLine {
  display: table-row;
}

.codeLineNumber {
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  user-select: none;
  opacity: 0.3;
}

.codeLineContent {
  display: table-cell;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 40px;
  margin-bottom: 15px;
  line-height: 1.6em;
}

.h3,
.h4,
.h5 {
  margin-top: 20px;
  margin-bottom: 15px;
  color: brand.$gray-75;
}

.p,
.ul,
.ol,
.blockquote,
.table {
  font-size: 16px;
  line-height: 1.6em;
}

.em,
.del,
.img,
.th,
.td,
.tr,
.tbody,
.thead {
  // Fix linting before styling
}

.img {
  max-width: 100%;
}

.li {
  margin-bottom: 5px;
}

.hr {
  border: 0;
  border-top: 1px solid brand.$gray-5;
}

.a {
  color: brand.$black;
  text-decoration-color: brand.$black;

  transition: all 0.1s;

  &:empty {
    visibility: hidden;
  }

  &:hover {
    color: brand.$docs-accent;
    text-decoration-color: brand.$docs-accent-light;
  }
}

.p {
  font-size: 16px;
  margin-top: 0;
  // letter-spacing: -0.014em;
  line-height: 1.6em;
}

.strong {
  color: brand.$gray-75;
}

.inlineCode {
  padding: 5px;
  border-radius: 3px;
  display: inline;
  border: 1px solid brand.$gray-5;
}

.pre {
  margin: 0;
  border-radius: 5px;
}

.blockquote {
  border-left: 5px solid brand.$gray-5;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  // margin-left: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px 20px;
  background-color: #fbfbfb;

  .p {
    color: brand.$gray-75;
    margin-top: 0;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
